@{
    ViewBag.Title = "About";
}

<div class="row col-xs-12">
    A Semantic Web application which provides an interactive map interface in order to help the user query the data found on DBPedia.
</div>