@{
    Layout = "~/Views/Shared/_LayoutFirstPage.cshtml";
    ViewBag.Title = "Welcome";
}

<div id="welcomeBody" hidden="hidden">
    <span><i id="globeIcon" class="fa fa-globe fa-5x"></i></span>
</div>