@{
    ViewBag.Title = "Map";
}

<head>
    <title>Linked data map</title>
</head>
<body>
    <div id="map" hidden="hidden"></div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="btn btn-default" id="btnMoreOptions">More options >></button>
                </div>
                <div class="modal-body">
                    <div class="main-body-content">
                        <img id="contentImg" />
                        <div id="contentDescription"></div>
                    </div>
                    <ul class="list-data"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="errorModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                  <p>Sorry. No data could be found.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
     </div>

        <div class="modal" id="aditionalModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button style="display:block;" type="button" class="btn btn-default" id="btnOrganisations">Organisations</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



        <script src="~/Scripts/jquery-jvectormap-2.0.2.min.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <script src="~/Scripts/MapFunctionality.js" type="text/javascript"></script>
</body>